.main-view {
  display: flex;
  flex-direction: column;
  color : black;
   outline: 1px solid green;
}

.center {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  flex: 1;
  min-width: 600px;
}

.content {
  flex: 4;
  min-width: 500px;
}